.container {
    display: flex;
    margin: 20% auto 0;
    flex-direction: column;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


